@import "core/Reset";
@import "core/Variables";
@import "page/Header";
@import "page/Form";
@import "page/Countries";
@import "page/Footer";


.hidden {
	display: none;
}
.hr{
	color: #777777;
	height: 1px;
}