@import url("//fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("//beta.adalab.es/resources/stylesheets/all.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
.header_nav {
	margin: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo_image {
	width: 15rem;
	padding-top: 2.5rem;
}
.navlist {
	display: flex;
	gap: 30px;

	list-style: none;
	justify-content: space-between;
	text-transform: uppercase;
	color: #1e1c31;
	&__element {
		font-size: 1.125rem;
		line-height: 1.75rem;
		font-weight: 300;
		&--border {
			color: rgb(2, 85, 168);
			border: 1.5px solid rgb(2, 85, 168);
			border-radius: 99999px;
			padding-bottom: 0.25rem;
			padding-top: 0.25rem;
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}
.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}
.h1 {
	font-family: Poppins, sans-serif;
	text-transform: capitalize;
	color: black;
	font-weight: 600;
	font-size: 48px;
  margin-bottom: 1.75rem;
}
.line_red {
	background-color: #ee3a50;
	border-radius: 0.5rem;
	width: 12rem;
	margin-bottom: 0.5rem;
	height: 0.5rem;
	display: block;
}

.line_blue {
	background-color: #235ba8;
	border-radius: 0.5rem;
	width: 9rem;

	height: 0.5rem;
	display: block;
	margin-bottom: 2rem;
}
.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.div {
	width: 100vw;
	display: flex;
 
  flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
 
}
.div_input {
	width: 40%;
	margin: 10px;
}
.input {
	background: #f9f9fa 0 0 no-repeat padding-box;
	border: 1px solid #ededed;
	border-radius: 25px;
	height: 50px;
	font-size: 100%;
	color: #1e1c31;
	width: 100%;
	padding-left: 29px;  
  margin-bottom: 10px;
  &__message{
  background: #f9f9fa 0 0 no-repeat padding-box;
	border: 1px solid #ededed;
	border-radius: 25px;
	height: 130px;
	font-size: 100%;
	color: #1e1c31;
	width: 100%;
	padding-left: 29px;
  padding-bottom: 90px;
  
  }
 
	:after,
	:before {
		--tw-border-spacing-x: 0;
		--tw-border-spacing-y: 0;
		--tw-translate-x: 0;
		--tw-translate-y: 0;
		--tw-rotate: 0;
		--tw-skew-x: 0;
		--tw-skew-y: 0;
		--tw-scale-x: 1;
		--tw-scale-y: 1;
		--tw-pan-x: ;
		--tw-pan-y: ;
		--tw-pinch-zoom: ;
		--tw-scroll-snap-strictness: proximity;
		--tw-ordinal: ;
		--tw-slashed-zero: ;
		--tw-numeric-figure: ;
		--tw-numeric-spacing: ;
		--tw-numeric-fraction: ;
		--tw-ring-inset: ;
		--tw-ring-offset-width: 0px;
		--tw-ring-offset-color: #fff;
		--tw-ring-color: rgba(59, 130, 246, 0.5);
		--tw-ring-offset-shadow: 0 0 #0000;
		--tw-ring-shadow: 0 0 #0000;
		--tw-shadow: 0 0 #0000;
		--tw-shadow-colored: 0 0 #0000;
		--tw-blur: ;
		--tw-brightness: ;
		--tw-contrast: ;
		--tw-grayscale: ;
		--tw-hue-rotate: ;
		--tw-invert: ;
		--tw-saturate: ;
		--tw-sepia: ;
		--tw-drop-shadow: ;
		--tw-backdrop-blur: ;
		--tw-backdrop-brightness: ;
		--tw-backdrop-contrast: ;
		--tw-backdrop-grayscale: ;
		--tw-backdrop-hue-rotate: ;
		--tw-backdrop-invert: ;
		--tw-backdrop-opacity: ;
		--tw-backdrop-saturate: ;
		--tw-backdrop-sepia: ;
	}
}
.input__checkbox{
  margin: 10px;
}
.submit {
	background-color: #0255a8;
	box-shadow: 10px 10px 0 0 rgba(2, 85, 168, 0.19);
	cursor: pointer;
	transition: all 0.5s ease;
	border: 0;
	border-radius: 0.12em;
	color: #fff;
	display: inline-block;
	font-weight: 600;
	margin: 5% 0.3em 0.3em 0;
	padding: 16px 43px;
	text-align: center;
	text-transform: capitalize;
	margin-top: 20px;
	:after,
	:before {
		--tw-ring-offset-width: 0px;
		--tw-ring-offset-color: #fff;
		--tw-ring-color: rgba(59, 130, 246, 0.5);
		--tw-ring-offset-shadow: 0 0 #0000;
		--tw-ring-shadow: 0 0 #0000;
		--tw-shadow: 0 0 #0000;
		--tw-shadow-colored: 0 0 #0000;
	}
}
.span_message {
	color: #1e1c31;
}
.hidden{
  display: none;
}