.footer_logo {
	width: 80%;
	margin-bottom: 12px;
}

.footersection {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 30px;
	@media screen and(min-width: 645px) {
		grid-template-columns: 1fr 1fr;
	}
	@media screen and(min-width: 750px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	&__block {
		margin: 14px;

		&--title {
			@include textFootersection();
		}
		&--title2 {
			@include textFootersection();
			@include flexColum();
		}
		&--textcontact {
			@include flexColum();
			font-weight: 400;
			font-size: 14px;
		}
		&--text {
			@include flexColum();
			font-weight: 400;
			font-size: 1rem;
		}
		&--link {
			text-decoration-line: none;
			color: $black;
		}
	}
}
.titleextra {
	margin-top: 20px;
}
.goberndiv {
	display: flex;
	justify-content: center;
	margin: 20px 40px 0 40px;
	&__link {
		margin-left: 0.25rem;
		margin-right: 0.25rem;
		&--img {
			width: 100%;
			height: 100%;
		}
	}
}

.termsdiv {
	@include flexColum();
	align-items: flex-end;
	justify-content: center;
	gap: 30px;
	margin: 1.5rem;
	&__block {
		&--link {
			text-decoration-line: none;
			color: $black;
		}
	}
	@media screen and(min-width: 750px) {
		flex-direction: row;
		justify-content: space-around;
	}
}

.logos {
	@include perfectCenterFlex();
	align-self: center;
	gap: 14px;
}
.copy {
	font-size: 14px;
	color: $copyColor;
	align-self: center;
}
.fa-brands {
	width: 26px;
	height: 26px;
	font-size: 14px;
	@include perfectCenterFlex();
	padding: 10px;
	border-radius: 5px;
	color:$white;
	box-shadow: 4px 4px 4px 2px rgba(52, 52, 52, 0.19);
	background-color: $black;
}
