.form {
	@include perfectCenterFlex();
	flex-wrap: wrap;
	
}
.div {
	width: 100vw;
	@include perfectCenterFlex();	
	@include flexColum();
	flex-wrap: wrap;	
	&__input {
		width: 70%;
		margin: 10px;
		@media screen and(min-width: 1200px) {
			width: 40%;
		}
	}
}

.input {
	background: #f9f9fa 0 0 no-repeat padding-box;
	border: 1px solid #ededed;
	border-radius: 25px;
	height: 50px;
	font-size: 100%;
	color: $darkColor;
	width: 100%;
	padding-left: 29px;
	margin-bottom: 10px;
	&__message {
		background: #f9f9fa 0 0 no-repeat padding-box;
		border: 1px solid #ededed;
		border-radius: 25px;
		height: 130px;
		font-size: 100%;
		color: $darkColor;
		width: 100%;
		padding-left: 29px;
		padding-bottom: 90px;
	}
}
.input__checkbox {
	margin: 10px;
}
.submit {
	background-color: $secondaryColor;
	box-shadow: 10px 10px 0 0 rgba(2, 85, 168, 0.19);
	cursor: pointer;
	transition: all 0.5s ease;
	border: 0;
	border-radius: 0.12em;
	color: $white;
	display: inline-block;
	font-weight: 600;
	margin: 5% 0.3em 0.3em 0;
	padding: 16px 43px;
	text-align: center;
	text-transform: capitalize;
	margin-top: 20px;
	&:hover {
		box-shadow: none;
	}
}
.span_message {
	color: $mainColor;
}
